@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansX-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* for persian mode */
*{
    direction: rtl;
    text-align: right;
    font-family: 'IRANSans';
}

.bg-gray{
    background-color: #d6d5d5;
    color: #000;
}

.bg-custom-yellow{
    background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green{
    background: linear-gradient(to right, #f30dae, #fa8ad8);
}

.bg-custom-pink{
    background: linear-gradient(to right, #109104, #7fdb76);
}

.h-150{
    height: 150px;
}

.max-height-2{
    max-height: 2.4rem;
}


/* admin posts */
.alert_required{
	color: #ff50a1 !important;
  }
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
	margin: 4px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }



  /* sweet alert reform */
  .swal2-html-container {
	  text-align: center;
  }


  /* toast wrapper */
	.toast-wrapper {
		position: fixed;
		z-index: 9999;
		top: 3rem;
		left: 0;
		width: 26rem;
		max-width: 80%;
		padding: 2rem;
	}